@keyframes fade-up{
    0%{
        opacity: 0;
        transform: translateY(30px) scale(1);
        }

    100%{
        opacity: 1;
        transform: translateY(0px) scale(1);
    }
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 70px;
    margin-right: auto;
    margin-left: 30%;
    animation: fade-up 0.5s;
    
}
.contain{
    display: inline-block;
}
#imgg{
    width: 100px; 
    height: 100px;
    margin-right: 20px;
}

#Nama{
    display: flex;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    align-items: center;
    font-weight: 700;
}

#verticle-line{
    background-color: darkgrey;
    width: 660px; /* Change width to 1px for a vertical line */
    height: 1.5px; /* Adjust height as needed */
    margin-left: 30%; /* Center the line horizontally */
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(231, 231, 231);
    animation: fade-up 0.5s;
}

#verticle-line2{
    background-color: darkgrey;
    width: 660px; /* Change width to 1px for a vertical line */
    height: 1px; /* Adjust height as needed */
    margin-left: 30%; /* Center the line horizontally */
    margin-right: auto;
    margin-top: 12px;
    background-color: rgb(231, 231, 231);
    animation: fade-up 0.5s;
}

#verticle-line3{
    background-color: darkgrey;
    width: 660px; /* Change width to 1px for a vertical line */
    height: 1px; /* Adjust height as needed */
    margin-left: 30%; /* Center the line horizontally */
    margin-right: auto;
    margin-top: 18px;
    background-color: rgb(231, 231, 231);
    animation: fade-up 0.5s;
}
#Bio{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: auto; /* Center the line horizontally */
    margin-right: auto;
    margin-left: 30%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal; 
    font-size: 18px;
    animation: fade-up 0.5s;
}



#Bioabout{
    width: 40%;
    height: 100%;
    display: flex;
    margin-top: 9px;
    margin-left: auto; /* Center the line horizontally */
    margin-right: auto;
    margin-left: 30%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 17px;
    animation: fade-up 0.5s;
    text-align: start;
}
.links a{
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: auto; /* Center the line horizontally */
    margin-right: auto;
    margin-left: 30%;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 17px;
    animation: fade-up 0.5s;
    text-decoration: none;
    color: dodgerblue;
}

#Checkplaylist{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 18px;
    margin-left: auto; /* Center the line horizontally */
    margin-right: auto;
    margin-left: 30%;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 25px;
    animation: fade-up 0.5s;
    
}

.spotify {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-left: 30%;
    margin-right: auto;
    animation: fade-up 0.5s;
    margin-top: 25px;
}


.fa-instagram{
    width: 20px;
    height: 20px;
    display: flex;
    gap: 1rem;
    margin-left: auto;
    margin-right: auto;
    animation: fade-up 0.5s;
    margin-top: 25px;
    float: none;
    justify-content: center;
}
.fa-spotify{
    width: 20px;
    height: 20px;
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-right: auto;
    animation: fade-up 0.5s;
    margin-top: 25px;
    float: none;
   
}



::-webkit-scrollbar-track{
    background: none
   }